mixin postInfo(item)
    .post-info
        != full_date(item.date, 'll')
        if item.from && is_home()
            a.post-from(href=item.from,target="_blank",title="查看原文") 原文地址
        
        - item.tags.each(function (tag) {
            a.post-tag(href= url_for(tag.path), title=tag.name) ##{tag.name}
        - })


        span.leancloud-visitors(id= url_for(item.path), title=item.title) -°
        
        if is_post()
            .cp-tip
                .cp-scroll-x
                    - var is_translation = item.from;
                    if is_translation
                        p.cp-author
                            != "原文作者:"
                            a(href=item.social, title=item.author, target="_blank")
                                != item.author
                        p.cp-url
                            != "原文地址:"
                            a(href=item.from, title=item.from, target="_blank")
                                != item.from
                    p.cp-post
                        != is_translation ? "中文翻译:" : "本文作者:"
                        a(href=config.github, title=config.author, target="_blank")
                            != config.author
                    p.cp-post-url
                        != is_translation ? "译文地址:" : "本文地址:"
                        - var url = config.url + url_for(item.path);
                        a(href=url, title=url, target="_blank")
                            != url
                    if is_translation
                        if item.permission == 1
                            p.cp-note
                                != "蒙原作者惠允翻译发布，转载请保留此声明。"
                        else
                            p.cp-note
                                != "本文由 @" + config.author + " 翻译，转载请保留此声明。"
                        p.cp-note
                            != "著作权属于原作者，请勿用作商业用途。"
                    else
                        p.cp-note
                            != "本文由 @" + config.author + " 创作，转载请保留此声明。"
                        p.cp-note
                            != "所有权保留，请勿用作商业用途。"

//- Index Page
mixin posts()
    ul.home.post-list
        - page.posts.each(function (item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != (item.from ? '[译] ' : ' ') + item.title
                    +postInfo(item)
                    .post-content
                        != item.excerpt
                        a.read-more(href=url_for(item.path)  title="阅读全文")!= __('more')
        - })

//- Archive Page
mixin postList()
    .archive
        - var month = '';
        - var i = 0;
        - var monthChange = false;
        - page.posts.each(function (item) {
            - i++;
            - var itemMonth = date(item.date, 'YYYY');
            - monthChange = month !== itemMonth;
            - month = monthChange ? itemMonth : month;

            if monthChange && !i
                hr

            if monthChange
                h3!= month

            .post-item
                //- +postInfo(item)
                span
                    != full_date(item.date, 'YYYY-MM-DD')
                a.post-title-link(href= url_for(item.path), title=item.title)
                    != (item.from ? '[译] ' : '') + item.title
        - })

//- Post Page
mixin post(item)
    .post
        article.post-block
            h1.post-title
                != (item.from ? '[译] ' : '') + item.title
            +postInfo(item)
            .post-content
                != item.content

//- Tag Page
mixin tag()
    .archive
        h3!= page.tag
        - page.posts.each(function (item) {
            .post-item
                span
                    != full_date(item.date, 'YYYY-MM-DD')
                a.post-title-link(href= url_for(item.path), title=item.title)
                    != (item.from ? '[译] ' : '') + item.title
        - })

//- Tags Index
mixin tags()
    #tagList.tag-list
        - site.tags.each(function (tag) {
            a.tag-link(href= url_for(tag.path), title=tag.name)
                != tag.name + '  (' + tag.length + ')'
        - })
    

