.copyright
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/pinggod/hexo-theme-apollo";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - var beian = config.beian ? config.beian : '';
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author], #[a(href="http://www.miitbeian.gov.cn/",rel="nofollow",target="_blank") #{beian}] .
    p Powered By #[a(href=hexoURL,rel="nofollow", target="_blank") Hexo] and #[a(href=apolloURL,rel="nofollow", target="_blank") hexo-theme-apollo]